<div class="wrapper">
  <div class="navbar">
    <h2>Employees</h2>
    <!-- Sort -->
    <div>
      <button style="margin-right: 10px;" (click)="sort('ASC')">Ascending</button>
      <button (click)="sort('DESC')">Descending</button>
    </div>

    <!-- Age Filter -->
    <div>
      <label for="age">Age group</label>
      <select [(ngModel)]="selectedAgeRange" id="age" (change)="onChangeAge()">
        <option value="0">None</option>
        <option *ngFor="let group of ageGroups" [value]="group">{{group}}</option>
      </select>
    </div>

    <!-- Search -->
    <div class="search-container">
        <input [(ngModel)]="search" type="text" placeholder="Search.." name="search">
        <button (click)="searchEmployee()">Search</button>
    </div>

    <!-- Reset -->
    <div class="search-container">
      <button (click)="resetFilter()">RESET</button>
  </div>
  </div>

  <div class="container">
    <app-data-table *ngIf="employees.length; else noDataFound" [data]="employees"></app-data-table>

    <ng-template #noDataFound>
      <div style="text-align: center;">
        No Data Found
      </div>
    </ng-template>
  </div>
</div>


